*{
  padding: 0;
  margin: 0;
  line-height: 1.5em;
}

.container{
  
  background-color: whitesmoke;
  width: 100%;
  max-width: 900px;
  margin: auto;
  margin-top: 7vh;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 0px 20px grey;
  box-sizing: border-box;
}


.main_title{
  font-family: 'Roboto';
  margin: 15px;
}

.flex{
  display: flex;
}

.logo{
  width: 25%;
  margin: 10px;
}

.big_text{
  font-size: larger;
  font-family: 'Roboto';
  text-align: justify;
  padding: 10px;
}

@media only screen and (max-width: 600px){
  .flex{
    display: block;
  }
  .logo{
    width: 70%;
  }
  .container{
    margin-top: 0;
    min-height: 95vh;
  }
}